@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import './flavored.css';

:root {
  /* colors */
  --color-dark: rgb(80, 80, 80);
  --color-secondary: rgb(120, 120, 120);
  --color-tertiary: rgb(160, 160, 160);
  --color-light: rgb(200, 200, 200);
  --color-lighter: rgb(220, 220, 220);
  --color-white: rgb(250, 250, 250);
  --theme-light: #aee3ff;
  --theme: #699db9;
  --theme-vivid: #2c7ca7;
  --theme-dark: #225875;
  --anti-theme: orangered;
  --mid-theme: #5e7e2f;
  --avocado: #58952c;

  /* bg colors/images */
  --bgc-general: rgb(200, 200, 200);
  --bgc-code: #efeeea;
  --bgc-code-alt: #f8fcff66;
  --bgi-light-gradient: linear-gradient(
    145deg,
    rgb(235, 235, 235),
    /* rgb(189, 187, 182)  */ rgb(206, 203, 198)
  );

  /* fonts */
  --font-fancy: 'Montserrat';
  --fontXL: 30px;
  --fontL: 25px;
  --fontM: 16px;
  --fontS: 13px;
  --fontXS: 11px;

  /* var for cv page */
  --whole-width: 842px;
  --aside-width: 170px;
  --main-width: 510px;
  --paper-padding: 80px;
}

@media only screen and (max-width: 800px) {
  :root {
    /* var for cv page */
    --whole-width: 100%;
    --aside-width: 100%;
    --main-width: 100%;
    --paper-padding: 40px;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-dark);
  caret-color: var(--avocado);
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(200, 200, 200);
}
@media print {
  body {
    background-color: transparent;
  }
}

@counter-style custom-counter {
  /* system: cyclic; */
  /* system: extends tibetan; */
  system: extends gujarati;
  /* system: extends gurmukhi; */
  /* symbols: '»'; */
  prefix: '';
  suffix: '. ';
  fallback: tibetan;
  fallback: circle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p {
  color: var(--color-dark);
  font-size: var(--fontM);
  line-height: 1.8rem;
  margin: 0 0 15px 0;
  white-space: break-spaces;
  word-break: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
a:hover {
  color: var(--theme-vivid);
  text-decoration: underline;
  text-underline-offset: 2px;
}

ul,
ol {
  display: block;
  list-style-type: none;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
