@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import './flavored.css';

:root {
  /* colours */
  --color-dark: rgb(80, 80, 80);
  --color-secondary: rgb(120, 120, 120);
  --color-tertiary: rgb(160, 160, 160);
  --color-light: rgb(200, 200, 200);
  --color-lighter: rgb(220, 220, 220);
  --color-white: rgb(250, 250, 250);

  --airy-light: #aee3ff;
  --airy: #699db9;
  --airy-vivid: #2c7ca7;
  --airy-dark: #225875;

  --avocado-dark: #384c00;
  --avocado: #49720c;
  --avocado-light: #7abc4d;

  /* bg colours/images */
  --bgc-general: var(--color-lighter);
  --bgc-code: rgb(239, 238, 234);
  --bgc-code-alt: rgba(248, 252, 255, 0.4);

  --bg: linear-gradient(var(--bgc-general) 0%, rgb(206, 206, 206) 100%) 0% 100% / 100% 15vh no-repeat;
  /* --bg: linear-gradient(rgb(220, 220, 220) 0%, var(--bgc-general) 100%) 0% 0% / 100% 150px no-repeat; */

  /* fonts */
  --font-fancy: 'Montserrat';
  --fontXL: 30px;
  --fontL: 22px;
  --fontM: 14px;
  --fontS: 12px;
  --fontXS: 10px;

  /* var for cv page */
  --whole-width: 842px;
  --aside-width: 170px;
  --main-width: 510px;
  --paper-padding: 80px;
  --section-width: calc(var(--aside-width) + var(--main-width));
}

@media only screen and (max-width: 800px) {
  :root {
    /* var for cv page */
    --whole-width: 100%;
    --aside-width: 100%;
    --main-width: 100%;
    --paper-padding: 40px;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-dark);
  caret-color: var(--avocado);
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bgc-general);
}

@media print {
  :root {
    --fontXL: 26px;
    --fontL: 20px;
    --fontM: 12px;
    --fontS: 10px;
    --fontXS: 9px;

    /* var for cv page */
    --whole-width: 100%;
    --aside-width: 150px;
    --paper-padding: 10px;
    --main-width: calc(var(--whole-width) - var(--aside-width));
  }
  body {
    background-color: transparent;
  }
}

@counter-style custom-counter {
  /* system: cyclic; */
  /* system: extends tibetan; */
  system: extends gujarati;
  /* system: extends gurmukhi; */
  /* symbols: '»'; */
  prefix: '';
  suffix: '. ';
  fallback: tibetan;
  fallback: circle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p {
  color: var(--color-dark);
  font-size: var(--fontM);
  line-height: 1.8rem;
  margin: 0 0 15px 0;
  white-space: break-spaces;
  word-break: break-word;
}

a {
  color: var(--avocado);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
a:hover {
  color: orangered;
  text-decoration: underline;
  text-underline-offset: 2px;
}
/* a:visited {
  color: var(--airy-vivid);
}
a:visited:hover {
  color: orangered;
} */

ul,
ol {
  display: block;
  list-style-type: none;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

details {
  cursor: pointer;
  margin-bottom: 10px;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
